.image-upload-wrapper {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 150px;
    background: var(--color-background);
    border: 2px dashed var(--color-primary);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    align-items: center;
}

.image-upload-wrapper {
    border-color: var(--color-primary-hover);
}

.upload-text {
    text-align: center;
    position: absolute;
    inset: 0;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: 0.3s;
}

.upload-text i {
    font-size: 48px;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

textarea{
    resize: none;
}