.title-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-text);
}

@media (max-width: 768px) {
    .title-action {
        flex-direction: column;    
        align-items: flex-start;   
        gap: 1rem;
    }
}
