.card-botao {
  width:150px;
  height:100px;
  gap: 5px;
  padding: 5px;
  background-color: var(--color-text-on-primary);
  color: var(--color-primary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: var(--font-main);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-botao:hover {
  text-decoration: none;
  color: var(--color-text-on-primary);
  background-color: var(--color-primary); 
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-botao:hover .card-botao__icon {
    color: var(--color-text-on-primary);
}

.card-botao__icon {
  font-size: 36px; 
  margin-bottom: 10px;
  color: var(--color-primary);
}

.card-botao__text {
  font-size: var(--font-size-md); 
  font-weight: 600;
}
