.sidebar {
    width: 200px;
    height: 100vh;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--color-primary);
    color: var(--color-text-on-primary);

    padding: 16px 12px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    font-size: 18px;
}

.logo-img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    border-radius: 10px;

    text-decoration: none;
    color: var(--color-text-on-primary);

    transition: all 0.2s ease;
    cursor: pointer;
}

.menu-item:hover {
    background: var(--color-text-on-primary);
    text-decoration: none;
}

.menu-item:active {
    transform: scale(0.98);
}

.menu-item.active {
    color: var(--color-primary);
    background: var(--color-text-on-primary);
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.icon {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item span {
    white-space: normal;
    line-height: 1.2;
    font-size: var(--font-size-sm) !important;
}

#logout-form {
    display: none;
    margin: 0;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.hidden {
    display: none;
}


@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;

        transform: translateX(-100%);
        transition: transform 0.3s ease;

        z-index: 1000;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}