.login-page {
  display: flex;
  min-height: 100vh;   
}

.login-left{
  flex: 1;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 20px;
  box-sizing:border-box;
}

.login-box {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #FFFFFF;
  padding: 2.5rem 2.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);           
  max-width: 600px;         
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;           
}

.login-title {
  color: var(--color-primary);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  margin-top: 0;  
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 1.2rem;            
  width: 100%;
}

.margin-med{
    margin-top: 1rem;
}

.error-message{
  margin-top: 1rem;
  margin-bottom: 0;
}

a:hover {
    color: var(--color-text-on-primary);
    text-decoration: none;
}

.forgot-link {
  display: block;
  margin-top:1rem;
}

.forgot-link:hover{
  color: var(--color-link-hover);
  text-decoration: underline;
}

.divider {
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  height: 1px;
  background-color: #ddd; 
  border: none;
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .login-left {
    display: none;
  }

  .login-right {
    display: flex;
    align-items: center;   
    justify-content: center; 
    min-height: 100vh;
  }

  .login-box {
    width: 90%;
    padding: 2rem;
  }
}