/* Título da página */
.page-title {
    font-size: var(--font-size-xl) !important;
    font-weight: 600 !important;
    color: var(--color-text) !important;
}

form{
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 3rem auto;
    background-color: var(--color-text-on-primary);
    border-radius: var(--border-radius);
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 100%;
    gap: 1.2rem;
}

.profile-avatar,
.profile-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background: var( --color-background); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: var(--color-primary);
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-secondary.btn-medio{
    margin-bottom: 0.5rem !important;
}

.d-none {
    display: none !important;
}

.input-group{
    font-family: var(--font-main);
}
